.modal{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    height: auto;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 50%);
    border-radius: 2px;
}
.modalForm{
    padding:17px;
}
.closebtn {
    text-align: right;
}